/do-this
/*/*/*.uvguix.marco
/*/*/*.uvoptx
/*/*/*.uvprojx
/*/*/*.scvd
/*/*/DebugConfig
/*/*/RTE
/exercises/freertos-eclipse/.metadata
/exercises/freertos-eclipse/RemoteSystemsTempFiles
/exercises/freertos-eclipse/freertos-eclipse/.settings